p {
    margin-bottom: 10px;

}

.hero-section{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0.6)),
        url(assets/images/arms.jpg);
    background-size: cover;
    background-position: center;
    padding: 4rem 0;
    color: #fff;
 
}
